.loginImage {
  object-fit: cover;
}
.login_input {
  border: 1px solid grey;
}
.login_error_input {
  border: 1px solid red;
}
.login_container {
  min-width: 400px;
  min-height: 300px;
}

@media only screen and (max-width: 576px) {
  .login_container {
    min-width: 200px;
    /* min-height: 300px; */
  }
}
