.table_heading {
  background-color: #7986cb;
}
.table_body {
  background-color: #e8eaf6;
}

.table_container {
  position: relative;
  overflow-x: auto;
  min-width: 80px;
  width: 100%;
  min-height: 69vh;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  background-color: #E8EAF6;
  border-radius: 0px 0px 10px 10px;
}

.table_container::-webkit-scrollbar {
  background-color: #fbfbfb;
  width: 8px;
  height: 3px;
}

.table_container::-webkit-scrollbar-thumb {
  background: #9E9E9E;
  border-radius: 10px;
  box-shadow: inset 0 0 6px #00000029;
}

.table_left {
  border-radius: 10px 0px 0px 0px;
}
.table_right {
  border-radius: 0px 10px 0px 0px;
}

.table_left_bot {
  border-radius: 0px 0px 0px 10px;
}
.table_right_bot {
  border-radius: 0px 0px 10px 0px;
}
.table_view_button {
  background-color: #c5cae9;
}
.table_edit_button {
  background-color: #5c6bc0;
}

.search_input {
  top: 2.4rem;
  left: 0;

}